<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Assets/css/bootstrap.min.css")" rel="stylesheet" />
    <style>
        body {
            padding-top: 60px;
        }
    </style>
</head>
    <body>
        
        @Html.Partial("_TopMenu")
        <div class="container">
            @ServiceStack.MiniProfiler.Profiler.RenderIncludes().AsRaw()

            @RenderBody()
        </div>
    
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="@Url.Content("~/Assets/Scripts/bootstrap.min.js")"></script>
        
        @RenderSection("JavaScript", required: false)
    </body>
</html>
